[user]
	name = ryouta-satou-rakus
	email = ryouta.satou@rakus.co.jp

[core]
    editor = vim -c "set fenc=utf-8"
    pager = delta
    autocrlf = input

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    side-by-side = true
    line-numbers = true

[init]
    defaultBranch = main

[fetch]
    prune = true
    pruneTags = true

[pull]
    rebase = true

[push]
    default = current
    autoSetupRemote = true
    followTags = true

[diff]
    colorMoved = default
    algorithm = histogram
    mnemonicPrefix = true
    renames = true

[merge]
    conflictstyle = zdiff3

[branch]
    sort = -committerdate

[column]
    ui = auto

[color]
    ui = auto

[tag]
    sort = version:refname

[rebase]
    autoSquash = true
    autoStash = true
    updateRefs = true

[rerere]
    enabled = true
    autoupdate = true

[commit]
    verbose = true

[help]
    autocorrect = prompt

[credential "https://github.com"]
    helper =
    helper = !gh auth git-credential

[credential "https://gist.github.com"]
    helper =
    helper = !gh auth git-credential

[alias]
    lg = log --oneline --graph --decorate --all
    staged = diff --cached
    undo = reset HEAD~1 --mixed
    aliases = config --get-regexp alias
