[user]
	name = ryouta-satou-rakus
	email = ryouta.satou@rakus.co.jp

[core]
    editor = vim -c \"set fenc=utf-8\"

[init]
    defaultBranch = main

[fetch]
    prune = true

[credential "https://github.com"]
    helper =
    helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential

[credential "https://gist.github.com"]
    helper =
    helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
